# Netzwerkadresse des Servers. Fuer nur lokalen Zugriff: 127.0.0.1
RAUMVERLEIH_BIND_ADDRESS=0.0.0.0
RAUMVERLEIH_PORT=8000

# Automatischer eva2-Abgleich in Minuten. 0 deaktiviert nur das Intervall.
EVA2_SYNC_INTERVAL_MINUTES=60

TZ=Europe/Berlin
